html
{
    scroll-behavior: smooth;
}

body *
{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

.navbar
{
    background-color: #191919; 
}

#section-intro .card
{
    border-radius: 0%;
    border: 0px solid rgba(0,0,0,0);
    background-color: #191919;
}

#section-bio .card
{
    border-radius: 0%;
    border: 0px solid rgba(0,0,0,0);
    background-color: white;
}

#section-cv .card
{
    border-radius: 0%;
    border: 0px solid rgba(0,0,0,0);
    background-color: #191919;
}

#section-bio .iconos img
{
    filter:invert();
}

.foto-perfil
{
    position: relative;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
}

#section-intro, #section-bio
{
    min-height: 100vh;
}

#section-cv, #section-contactos, #section-intro
{
    color: #fff;
    background-color: #191919;
}

#section-bio, #section-trabajos
{
    color: #191919;
    background-color: #fff;
}

footer
{
    color: #fff;
    background-color: #191919;
}

footer a
{
    color: #fff;
    text-decoration: none;
}

.texto-logo1
{
    font-size: 10vh;
    line-height: 4vh;
    font-weight: 700;
}

.texto-logo2
{
    font-size: 2.5vh;
    line-height: 2.5vh;
    font-weight: 100;
}

.logo-texto
{
    letter-spacing: 1.2vw
}

.separador
{
    height: 5px;
    background-color: #fff;
}

.carousel-fondo
{
    background-color: #191919d8;
}

.progress
{
    height: 0.5rem;
    background-color: #505050;
}
.progress-bar
{
    height: 0.5rem;
    background-color: #fff;
}

